main {
  margin-top: 100px;
  height: 840px;
  /* background: linear-gradient(60deg, rgb(77, 77, 77), rgb(58, 58, 58)); */
}

form {
  width: 90%;
  margin: 0 auto;
}

h1 {
  width: 90%;
  margin: 15px auto;
}

.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
}
.file-upload-wrapper:after {
  content: attr(data-text);
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000008;
  padding: 10px 15px;
  display: block;
  width: calc(100% - 40px);
  pointer-events: none;
  z-index: 20;
  height: 40px;
  line-height: 40px;
  color: #999;
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}
.file-upload-wrapper:before {
  content: "Upload";
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 60px;
  background: #a76dc1;
  color: #fff;
  font-weight: 700;
  z-index: 25;
  font-size: 16px;
  line-height: 60px;
  padding: 0 15px;
  text-transform: uppercase;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:hover:before {
  background: #7c3a98;
}
.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.file-upload-wrapper small {
  position: absolute;
  bottom: -14px;
  left: 0;
  visibility: hidden;
}

.file-upload-wrapper.error small {
  color: #e74c3c;
  visibility: visible;
}

button {
  margin-top: 35px !important;
}

.form-group a {
  margin-top: 20%;
}

@media all and (min-width: 742px) {
  h1 {
    padding-top: 15px;
  }
}

@media all and (min-width: 1140px) {
  main {
    height: 915px;
  }

  form,
  h1 {
    max-width: 1000px;
  }
  h1 {
    padding-top: 60px;
  }
}
