@import url("../../../assets/css/common.css");

#projects > h2 {
  margin-top: 100px;
}

#projects > h2 a {
  color: rgb(241, 241, 241);
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
  font-size: medium;
  text-transform: none;
}

footer:last-child {
  text-align: center;
}

article footer a {
  color: white;
}
