body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

body.scrollOff {
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Pour le pc
  padding: 15px 60px; */

  padding: 15px 25px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box; /* Pour ne pas depasser la limite à gauche */
  position: fixed;
  background-color: #cacfd85c;
  backdrop-filter: blur(25px);
  z-index: 1;
}

/* Pour les liens dans la barre de navigation */
ul {
  list-style: none;
}

header ul {
  padding: 0;
  margin: 0;
}

/* Pour le logo */
header > a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  /* color: #252404; */
  /* color: #400e32; */
  /* color: #4d7a75; */
  /* color: rgb(245, 243, 160); */
  /* color: #0707014d; */
  color: #070701;
  /* font-size: 50px; */
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(66, 233, 15, 0.442);
  text-decoration: none;
}

header ul {
  display: flex;
  /* display: none; */
}

i {
  font-size: 24px;
}

/* Hamburger MENU */
header div {
  /* display: none; */
  cursor: pointer;
}

/* bar */
header div span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(5, 3, 3);
}

header div.active span:nth-child(2) {
  opacity: 0;
}

header div.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

header div.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

nav li select {
  padding: 5px;
  margin-left: 5px;
  font-family: inherit;
  color: #201f04;
}

nav li select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #191c1e;
}

@media all and (max-width: 742px) {
  /* Nav-menu */
  header ul {
    position: fixed;
    left: -100%;
    top: 84px;
    gap: 0;
    flex-direction: column;
    background-color: #e3e7e8fc;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100vh;
  }
}

/* nav item */
header ul li {
  margin: 16px 0;
}

header ul.active {
  left: 0;
}
/* --------------------------------------------- */

header li {
  margin-left: 20px;
}

header li a {
  /* color: #242300; */
  color: #201f04;
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

header li a:hover {
  /* color: rgb(77, 77, 77); */
  color: #000000;
  background-color: #ffffffb3;
}

/* Pour le pied de la page */
/* le footer qui suit le main */
main + footer {
  background: linear-gradient(70deg, rgb(24, 24, 24), rgb(25, 29, 29));
  padding: 36px;
  /* display: none; */
}

main + footer ul {
  display: flex;
  justify-content: center;
}

main + footer li {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

main + footer img {
  width: 100%;
  height: 100%;
}

/* Tablette */
@media all and (min-width: 742px) {
  /* Hamburger */
  header div {
    display: none;
  }

  header {
    /* Pour le pc */
    padding: 15px 60px;
  }

  header > a {
    font-size: 40px;
  }

  header ul {
    display: flex;
  }

  header nav i {
    display: none;
  }

  /* Footer en mode tab & pc */
  main + footer li {
    width: 80px;
    height: 80px;
    margin: 0 50px;
  }
}

/* Ordinateur */
@media all and (min-width: 1140px) {
  /* Pour le pc */
  header {
    padding: 15px 60px;
  }

  /* Le logo */
  header > a {
    font-size: 50px;
  }

  /* section:first-child {
    height: 800px;
  } */

  header li a {
    /* font-size: 20px; */
    padding: 10px;
    /* margin: 0 5px; */
  }
}
