section:first-child {
  /* Pour pc
  height: 800px; */

  /* Pour telephone*/
  height: 400px;
  background-image: url("/assets/images/projects/webDev.jpg");
  background-position: center;
  background-size: cover;
}

section:first-child div {
  background-color: rgba(51, 47, 47, 0.8);
  backdrop-filter: blur(5px);
  /* box-shadow: 2px 4px 8px rgb(68, 67, 67); */

  width: 330px;
  /* Pour le pc et tab
  width: 900px;
  border-radius: 10px;
  padding: 50px 0;
  top: 200px; */

  padding: 10px 0;
  height: 190px;
  position: relative;
  top: 120px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  /* display: none; */
}

section:first-child h1 {
  color: white;
  text-transform: uppercase;
  /* Pour le pc
  font-size: 50px; */
  font: 16px;
  font-family: "Raleway", sans-serif;
  /* margin: 0; */
}

section:first-child p {
  color: white;
  text-transform: uppercase;

  /* Pour le pc
  font-size :  */
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* Pour le button de Discover projects*/
section:first-child a {
  text-decoration: none;
  background-color: #201f04;
  padding: 12px 24px;
  /* color: black; */
  color: rgb(246, 246, 216);
  /* Pour le pc & tab
  font-size: 24px; */
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

section:first-child a:hover {
  background-color: #141304;
  color: white;
}

section:last-child {
  background: linear-gradient(60deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

main section ul {
  padding: 80px 0;
  /* width: 90%; */
  margin: auto; /* To center the element*/
  display: grid;
  /* Pour le pc */
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr;
  row-gap: 50px;
  justify-items: center;
  /* display: none; */
}

main li {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 95%;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
  overflow: hidden; /* Pour cacher le depassement de l'image sur les coins*/
}

main section li img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

/* On selectionne le button "explore"*/
footer:last-child {
  text-align: right;
}

footer:last-child a {
  color: rgb(121, 121, 36);
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
}

footer:last-child a:hover {
  color: white;
  background-color: black;
}

@media all and (min-width: 742px) {
  section:first-child {
    /* Pour pc & tab */
    height: 700px;
  }

  section:first-child div {
    /* Pour le pc et tab */
    width: 650px;
    border-radius: 10px;
    padding: 50px 0;
    top: 200px;
    height: 275px;
  }

  section:first-child h1 {
    font-size: 50px;
  }

  section:first-child p {
    font-size: 24px;
  }

  section:first-child a {
    font-size: 24px;
  }

  /* Pour la 2 eme section  */

  main section ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 1140px) {
  section:first-child {
    height: 800px;
  }

  section:first-child div {
    top: 275px;
    width: 900px;
    padding: 50px 0;
    height: 192px;
  }

  main section ul {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    padding: 30px 60px;
  }

  section:first-child h1 {
    font-size: 40px;
    margin: 0;
  }

  section:first-child p {
    font-size: 24px;
    font-weight: 300px;
    margin-bottom: 32px;
  }

  section:first-child a {
    font-size: 24px;
  }

  #projects > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0 auto;
    color: wheat;
    padding-top: 55px;
    padding-bottom: 0;
  }
}
