section:first-child {
  /* Pour pc
  height: 800px; */

  /* Pour telephone*/
  height: 350px;
  background-image: url("/assets/images/projects/webDev.jpg");
  background-position: center;
  background-size: cover;
}

section:first-child div {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  backdrop-filter: blur(5px);
  /* box-shadow: 2px 4px 8px rgb(68, 67, 67); */
  border-radius: 10px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;

  position: relative;
  top: 200px;
  display: none;
}

section:first-child h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

section:first-child p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

/* Pour le button de Discover projects*/
section:first-child a {
  text-decoration: none;
  background-color: #201f04;
  padding: 12px 24px;
  /* color: black; */
  color: rgb(246, 246, 216);
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

section:first-child a:hover {
  background-color: #141304;
  color: white;
}

section:last-child {
  background: linear-gradient(60deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

main section ul {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto; /* To center the element*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 0;
  justify-items: center;
  display: none;
}

main li {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 410px;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
  overflow: hidden; /* Pour cacher le depassement de l'image sur les coins*/
}

main section li img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

/* On selectionne le button "explore"*/
footer:last-child {
  text-align: right;
}

footer:last-child a {
  color: rgb(121, 121, 36);
  font-weight: bold;
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
}

footer:last-child a:hover {
  color: white;
  background-color: black;
}
